# 文件名: .github/workflows/fetch_kelee_content.yml
name: Fetch Kelee Content

on:
  # 每天 8 点触发一次
  #schedule:
    #- cron: '0 8 * * *'
  workflow_dispatch: # 支持手动触发

permissions:
 contents: write

jobs:
  fetch-and-save:
    runs-on: ubuntu-latest
    steps:
      # 3. 获取 kelee.one 的内容
      - name: Fetch content from kelee.one
        run: |
          mkdir -p Loon
          curl -sSL -H "User-Agent: Loon/917 CFNetwork/3826.600.41 Darwin/24.6.0" https://kelee.one/Tool/Loon/Lpx/BlockAdvertisers.lpx -o Loon/BlockAdvertisers.lpx

      # 4. 提交并推送更新（如果有变化）
      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          if git diff --quiet; then
            echo "No changes to commit"
          else
            git add loon/kelee_content.html
            git commit -m "Update kelee.one content"
            git push
          fi
